{{> headCompetition}}

<div class="container">
    <div class="card m-4" id="cardCompetition">
        <div class="card-header p-2" id="desafiosActivos">
            <h5>+Información</h5>
        </div>
        <div class="card-body">
            <h3>About Two Sigma</h3>
            <p id="parrafoCompetition">Two Sigma is a technology company dedicated to finding value in the world’s data.
                Since its founding in 2001, Two Sigma has built an innovative platform that combines extraordinary
                computing power, vast amounts of information, and advanced data science to produce breakthroughs in
                investment management, insurance and related fields.</p>
            <p id="parrafoCompetition">Today, Two Sigma manages approximately $38 billion in assets, employs more than
                1100 people and has offices in New York, Hong Kong, Houston and London. For more information, please
                visit <a href="https://www.twosigma.com/" target="_blank">www.twosigma.com.</a>
            </p>
            <h3>David Siegel and John Overdeck are recognized pioneers in the fields of technology and investment
                management. They have more than 40 years of experience in the development of computer-driven,
                model-based trading systems. Together, David and John run the company. They work together to drive the
                mission and strategy for Two Sigma, nurture talent and shape the company’s unique culture.s</h3>
        </div>
    </div>
</div>
</div>
</div>



<style>
    #navigation {
        background: #ffff;
    }
</style>