<div class="container">
    <div class="jumbotron m-4 p-0">
        <div class="container">
            <div class="mt-2">
                <img src="/img/logoWeb.png" alt=""> <small>Factured Code Competition</small>
            </div>
            <div>
                <h3 class="mt-4">Two Sigma: Using News to Predict Stock Movements</h3>
            </div>
            <div>
                <h5>Use news analytics to predict stock price performance</h5>
            </div>
            <div>
                <div class="mt-4 mb-2">
                    <img src="/img/empresas/thumb76_76.png" class="rounded" alt="Organización" srcset="" width="30px"
                        height="auto"> Two Sigma:
                    <span><b> 600</b> equipos</span>
                    <span> -Hace 2 meses</span>
                </div>
            </div>
        </div>
        <div id="navigation">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="/competitions/theme1/general">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/competitions/theme1/information">+Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions/theme1/discusion">Discusión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions/theme1/rules">Reglas</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="card m-4">
        <div class="card-header p-2">
            <h5>+Información</h5>
        </div>
        <div class="card-body">
            <h3>About Two Sigma</h3>
            <p id="parrafoCompetition">Two Sigma is a technology company dedicated to finding value in the world’s data.
                Since its founding in 2001, Two Sigma has built an innovative platform that combines extraordinary
                computing power, vast amounts of information, and advanced data science to produce breakthroughs in
                investment management, insurance and related fields.</p>
            <p id="parrafoCompetition">Today, Two Sigma manages approximately $38 billion in assets, employs more than
                1100 people and has offices in New York, Hong Kong, Houston and London. For more information, please
                visit <a href="www.twosigma.com." target="_blank">www.twosigma.com.</a>
            </p>
        </div>
    </div>
</div>
</div>
</div>



<style>
    .jumbotron {
        background: #ffffff;
        border: 1px solid #0886bd;
    }

    #navigation {
        background: #ffff;
    }

    .card {
        border: 1px solid #0886bd;
    }
</style>