{{> headCompetition}}

<div class="container">
    <div class="card m-4" id="cardCompetition">
        <div class="card-header p-2" id="desafiosActivos">
            <h5>General</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/description">Descripción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/competitions/theme1/general/evaluation">Evaluación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/prizes">Premios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/honorCode">Código de honor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/timeline">Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/submission">Instrucciones de
                                envío</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">

                    <div class="text-justify">
                        <p id="parrafoCompetition">
                            Las actividades de cualquier industria que realiza el ser humano generan impactos
                            ambientales en sus zonas de influencia directa, realizando un gran aporte a la problemática
                            ambiental nacional y mundial, conllevado al deterioro de la calidad de vida de las personas.
                            Esta es una propuesta dirigida al sector minero para

                        </p>
                        <p id="parrafoCompetition"> el desarrollo de un sistema tecnológico
                            de indicadores de calidad de agua y aire, que en primera instancia le permitirá a la empresa
                            BVN realizar la evaluación de su desempeño ambiental, con el objetivo de apoyar en la toma
                            de decisiones estratégicas, tácticas y operativas, y en segunda medida la aplicación de este
                            modelo sirva a </p>
                        <p id="parrafoCompetition">otras empresas del sector siendo éste último un factor determinante
                            para
                            competitividad, puesto que, le permite a las organizaciones detectar los procesos críticos
                            que requieran implementar mejoras operacionales para gestionar adecuadamente sus impactos
                            ambientales y contribuir al desarrollo sostenible del país dentro del marco normativo.</p>
                    </div>
                    <div>
                        <ul>
                            <li>Market data provided by Intrinio.</li>
                            <li>News data provided by Thomson Reuters. Copyright Thomson Reuters, 2017. All Rights
                                Reserved. Use, duplication, or sale of this service, or data contained herein, except as
                                described in the Competition Rules, is strictly prohibited.</li>
                        </ul>
                        <i>The THOMSON REUTERS Kinesis Logo and THOMSON REUTERS are trademarks of Thomson Reuters and
                            its affiliated companies in the United States and other countries and used herein under
                            license.</i>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<style>
    #navigation {
        background: #ffff;
    }
</style>