{{> headCompetition}}

<div class="container">
    <div class="card m-4" id="cardCompetition">
        <div class="card-header p-2" id="desafiosActivos">
            <h5>General</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/description">Descripción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/evaluation">Evaluación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/prizes">Premios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/competitions/theme1/general/honorCode">Código de honor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/timeline">Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/submission">Instrucciones de
                                envío</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">

                    <div class="text-justify">
                        <p id="parrafoCompetition">In addition to the behaviors outlined by the official competition rules, "cheating"
                            encompasses any attempt to gain
                            an edge in accuracy by using information that is outside of the provided dataset, or an
                            attempt to use the provided
                            information in a way that is not intended. Examples of cheating include (but are not limited
                            to):</p>
                        <ul>
                            <li>Attempting to use datasets and references beyond those made available by the competition
                            </li>
                            <li>Attempting to abuse the competition infrastructure to gain an edge</li>
                        </ul>

                        <p id="parrafoCompetition">
                            Please note that Two Sigma reserves the right, but does not have the obligation, to review
                            submitted code to
                            disqualify any contributions demonstrating cheating, and Two Sigma reserves the right to
                            determine what it believes,
                            in its sole discretion, constitutes cheating. We respectfully request that you refrain from
                            cheating.
                        </p>

                        <p id="parrafoCompetition">
                            While Two Sigma reserves the right to take effective measures to detect and disqualify
                            cheating, we ask that you
                            personally abide by codes of honor and ethical behavior in your participation. We view this
                            competition as a unique
                            learning opportunity for all of us, equally for the organizers and the Kaggle community, and
                            we sincerely hope that
                            you will join us in this goal with your most legitimate efforts.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<style>

    #navigation {
        background: #ffff;
    }

   
</style>