{{> headCompetition}}

<div class="container">
    <div class="card m-4" id="cardCompetition">
        <div class="card-header p-2" id="desafiosActivos">
            <h5>General</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/description">Descripción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/evaluation">Evaluación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/competitions/theme1/general/prizes">Premios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/honorCode">Código de honor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/timeline">Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/submission">Instrucciones de envío</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ul>
                        <li><b>1st place</b> - $25,000</li>
                        <li><b>2nd place</b> - $20,000</li>
                        <li><b>3rd place</b> - $15,000</li>
                        <li><b>4th through 7th place</b> - $10,000 cada uno</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>



<style>
    

    #navigation {
        background: #ffff;
    }

   
</style>