<div class="container">
    <div class="jumbotron m-4 p-0">
        <div class="container">
            <div class="mt-2">
                <img src="/img/logoWeb.png" alt=""> <small>Factured Code Competition</small>
            </div>
            <div>
                <h3 class="mt-4">Two Sigma: Using News to Predict Stock Movements</h3>
            </div>
            <div>
                <h5>Use news analytics to predict stock price performance</h5>
            </div>
            <div>
                <div class="mt-4 mb-2">
                    <img src="/img/empresas/thumb76_76.png" class="rounded" alt="Organización" srcset="" width="30px"
                        height="auto"> Two Sigma:
                    <span><b> 600</b> equipos</span>
                    <span> -Hace 2 meses</span>
                </div>
            </div>
        </div>
        <div id="navigation">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/competitions/theme1/general">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions/theme1/information">+Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions/theme1/discusion">Discusión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions/theme1/rules">Reglas</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="card m-4">
        <div class="card-header p-2">
            <h5>General</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="/competitions/theme1/general/description">Descripción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/evaluation">Evaluación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/prizes">Premios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/honorCode">Código de honor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/competitions/theme1/general/timeline">Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competitions/theme1/general/submission">Instrucciones de envío</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">

                    <div class="text-justify">
                        <p id="parrafoCompetition">This is a two-stage competition consisting of a Submission period and a Scoring period. In the Submission period, entrants will train their models in Kaggle Kernels. During the Scoring period, models submitted at the end of the submission period will be evaluated against regularly updated news and market data.</p>
                    </div>
                    
                        <ul>
                            <li>Start Date: <b>9/25/2018</b></li>
                            <li>Rules Acceptance/Team Merger Deadline: <b>1/2/2019</b></li>
                            <li>Submission Deadline: <b>1/8/2019</b> After this date, we will not be taking any more submissions. You can sit back and watch the leaderboard unfold. Remember to select your two best submissions to be rescored. <b> In this competition we will not auto-select your two submissions.</b></li>
                            <li>End Date: <b>7/15/2019</b> </li>
                        </ul>
                        <i>All deadlines are at 11:59 PM UTC on the corresponding day unless otherwise noted. The competition organizers reserve the right to update the contest timeline if they deem it necessary.</i>
                    
                    

                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .jumbotron {
        background: #ffffff;
        border: 1px solid #0886bd;
    }

    #navigation {
        background: #ffff;
    }

    .card {
        border: 1px solid #0886bd;
    }

</style>