<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">Contáctanos al equipo ChallengeX</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Sede Central<br>Lima, PERÚ</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>jomendozag@uni.pe</p>
          </div>

          <div>
            <i class="fa fa-phone"></i>
            <p>+51 997 153 705</p>
          </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-8">
        <div>
          {{> errors }}
          {{> messages }}
        </div>
        <div class="form">
          <form action="/contacts/add" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="campoForm" value="{{user.name}}" placeholder="Su nombre"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" autofocus />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="campoForm" value="{{user.email}}" placeholder="Su email"
                data-rule="email" data-msg="Please enter a valid email" autocomplete="off" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="phone" id="campoForm" value="{{phone}}"
                placeholder="Su teléfono celular" data-rule="email" data-msg="Please enter a valid email"
                autocomplete="off" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="campoForm" value="{{subject}}"
                placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"
                autocomplete="off" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea id="campoForm" class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Mensaje: duda o consulta"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* ==================================================
  Contact Section
  ================================================== */
  #about {
    background: #f7f7f7;
    padding: 80px 0;
  }

  #about h2 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #000000;
  }

  #about .info i {
    font-size: 32px;
    color: #1de9b6;
    float: left;
  }

  #about .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
  }

  #about .form #sendmessage {
    color: #1de9b6;
    border: 1px solid #1de9b6;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #about .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #about .form #sendmessage.show,
  #about .form #errormessage.show,
  #about .form .show {
    display: block;
  }

  #about .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }

  #about .form input,
  #about .form textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #about .form button[type="submit"] {
    background: #fff;
    color: #00bfa5;
    border: 0;
    border: 1px solid #00bfa5;
    padding: 10px 24px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  #about .form button[type="submit"]:hover {
    background: #1de9b6;
    color: rgb(0, 0, 0);
  }
</style>