<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <h4 class="mt-3"><b>Desafíos Nacionales e Internacionales</b></h4>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn">Documentación</a>
    </div>
  </div>
</div>


<div class="container text-center">

  <!--NAVIGATION-->
  <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
    <div class="container m-4">
      <div id="navigation" class="ml-4">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Premios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Empresa</a>
              <a class="dropdown-item" href="#">Estado</a>
              <a class="dropdown-item" href="#">Comunidad</a>
              <a class="dropdown-item" href="#">Global</a>
            </div>
          </li>
          <li class="nav-item">
              <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search by countries" aria-label="Search">
          </li>
        </ul>
        <div id="desafiosActivos">
          <h4><b>18</b> Desafíos Activos</h4>
        </div>
      </div>
    </div>

    <!--Contenido de Desafíos-->
    <div class="container">

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_76.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_77.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_76.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_77.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_76.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron m-0 p-0 mb-4" id="desafioContent">
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="img/empresas/thumb76_77.png" class="mr-3 rounded" alt="Logo organización" width="64px"
                height="64px"></a>
          </div>
          <div class="col-md-6">
            <h5 class="mt-0 mb-1"><a href="/competitions/theme1">Two Sigma: Using News to Predict Stock Movements</a>
            </h5>
            <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12 mt-2">
                $100,230
              </div>
              <div class="col-sm-6 col-md-12 mb-2">
                2,934 equipos
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#desafioContent").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>


  <style>
    .jumbotron {
      background: #1de9b6;
    }

    #desafioContent {
      background: #ffffff;
    }

    .dropdown-item:hover {
      background-color: #1de9b6;
      color: #030303;
    }
  </style>