<div id="principal" class="jumbotron jumbotron-fluid mt-4">
  <div class="container text-center">
    <h3 id="lead1">Desafío nacionales e internacionales</h3>
    <p class="lead">Unámos esfuerzo para conectar con crear un mejor futuro.</p>
    <p class="lead">Trabajemos por la <b>EQUIDAD</b> de genéro.</p>
    <p class="lead">Desarrollemos tecnologías que nos permitan ver más allá.</p>
    <p class="lead">Hagamos del MUNDO un mejor lugar.</p>
    <button id="buttonForm" class="btn text-center">Más de un $1 millón dólares en inversiones</button>
  </div>
</div>

<h4 id="lead"><i class="fas fa-arrow-right"></i> DESAFÍOS RECIENTES: DISPONIBLE PARA RESOLVERLOS</h4>
<div class="card-deck">
  <div id="firstCard" class="card">
    <img src="https://www.fundacionisys.org/images/IAb.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Comunidad</h5>
      <p class="card-text">¿Cómo pueden los ciudadanos y las comunidades crear y
        mejorar la inclusión social y la prosperidad compartida?.
      </p>
    </div>
    <div class="card-footer">
      <button id="buttonForm" class="btn btn-block">Conocer más <i class="fas fa-external-link-alt"></i></button>
      <button id="buttonForm2" class="btn btn-block">Subir solución <i class="fas fa-file-upload"></i></button>
    </div>
  </div>
  <div id="secondCard" class="card">
    <img src="https://www.fundacionisys.org/images/IAb.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Niñez</h5>
      <p class="card-text">¿Cómo pueden todos los niños menores de cinco años pueden
        alcanzar su máximo potencial?</p>
    </div>
    <div class="card-footer">
      <button id="buttonForm" class="btn btn-block">Conocer más <i class="fas fa-external-link-alt"></i></button>
      <button id="buttonForm2" class="btn btn-block">Subir solución <i class="fas fa-file-upload"></i></button>
    </div>
  </div>
  <div id="thirthCard" class="card">
    <img src="https://www.fundacionisys.org/images/IAb.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Economia Circular</h5>
      <p class="card-text">¿Cómo pueden las personas crear y consumir bienes que son renovables,
        reparables, reutilizables y reciclables?</p>
    </div>
    <div class="card-footer">
      <button id="buttonForm" class="btn btn-block">Conocer más <i class="fas fa-external-link-alt"></i></button>
      <button id="buttonForm2" class="btn btn-block">Subir solución <i class="fas fa-file-upload"></i></button>
      <!--<small class="text-muted">Last updated 3 mins ago</small>-->
    </div>
  </div>
  <div id="fourthCard" class="card">
    <img src="https://www.fundacionisys.org/images/IAb.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ciudades Saludables</h5>
      <p class="card-text">¿Cómo pueden los residentes urbanos diseñar y vivir en entornos que promuevan
        la salud física y mental?
      </p>
    </div>
    <div class="card-footer">
      <button id="buttonForm" class="btn btn-block">Conocer más <i class="fas fa-external-link-alt"></i></button>
      <button id="buttonForm2" class="btn btn-block">Subir solución <i class="fas fa-file-upload"></i></button>
    </div>
  </div>
</div>
</div>



<style>
  body {
    background: #000000;
  }

  #lead {
    color: #76ff03;
  }

  #lead1 {
    color: #000000;
  }

  #principal {
    background-color: #01b7ee;
    color: rgb(8, 8, 8);
  }

  #firstCard {
    text-align: center;
    background: #ffff00;
    color: #040505;
    border-radius: 5px;
    border: solid 1px #ffff00;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
  }

  #secondCard {
    text-align: center;
    background: #e91e63;
    color: #040505;
    border-radius: 5px;
    border: solid 1px #e91e63;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
  }

  #thirthCard {
    text-align: center;
    background: #76ff03;
    color: #040505;
    border-radius: 5px;
    border: solid 1px #76ff03;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
  }

  #fourthCard {
    text-align: center;
    background: #d500f9;
    color: #040505;
    border-radius: 5px;
    border: solid 1px #d500f9;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
  }

  #buttonForm {
    border: solid 1px #070707;
    color: #070707;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
  }

  #buttonForm:hover {
    border: solid 1px #070707;
    color: #ffffff;
    background-color: #070707;
  }

  #buttonForm2 {
    border: solid 1px #070707;
    color: #070707;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
  }

  #buttonForm2:hover {
    border: solid 1px #070707;
    color: #070707;
    background-color: #00b0ff;
  }
</style>