  <!-- About -->
  <section class="about" id="about">
    <div class="container text-center">
      <h2 style="color:#25bafc">
          ChallengeX
        </h2>

      <p>
        <b>ChallengeX:</b> es la red más grande de <b>ACADÉMICOS</b>, miembros de los <b>GOBIERNOS</b>, 
        líderes de <b>EMPRESAS</b> y <b>COMUNIDADES</b> que buscan dar solución 
        a las problemáticas más desafiantes y apremiantes del <b>MUNDO.</b> 
      </p>

      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">2,432</span> DESAFÍOS
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">64,223</span> ACADÉMICOS Y GOBIERNO
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">463</span> LÍDERES DE EMPRESAS
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">643</span> LÍDERES DE COMUNIDADES
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->
  <!-- Parallax -->

  <!--
    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
    <h2>
        Welcome to a perfect theme
      </h2>

    <p>
      This is the most powerful theme with thousands of options that you have never seen before.
    </p>
    <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="img/gadgets.png">
  </div>
  -->
  <!-- /Parallax -->
  <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
          Pilares
        </h2>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-rocket"></span>
              </div>
            </div>

            <div>
              <h3>
                  SINERGIA
                </h3>

              <p>
                Entendemos que el resultado es más que la suma de las partes.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-envelope"></span>
              </div>
            </div>

            <div>
              <h3>
                  NETWORKING
                </h3>

              <p>
                Promovemos en la comunidad la formación de equipos multidisciplinarios.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-bell"></span>
              </div>
            </div>

            <div>
              <h3>
                  INNOVACIÓN
                </h3>

              <p>
                Creemos que las soluciones a los grandes desafíos se llegará mediante la creatividad.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-database"></span>
              </div>
            </div>

            <div>
              <h3>
                  NUEVAS TECNOLOGÍAS
                </h3>

              <p>
                Buscamos soluciones basadas en nuevas tecnologías con propuestas concretas.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-cutlery"></span>
              </div>
            </div>

            <div>
              <h3>
                  INTEGRIDAD
                </h3>

              <p>
                Realizamos evaluaciones integrales para dar con los mejores equipos y propuestas.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-dashboard"></span>
              </div>
            </div>

            <div>
              <h3>
                  ACCIÓN
                </h3>

              <p>
                Sabemos que la mejor forma de hacer que las cosas sucedan es pasar a la acción.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features -->
  <!-- Call to Action -->

  <!--
    <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12 text-lg-left text-center">
          <h2>
              Call to Action Section
            </h2>

          <p>
            Lorem ipsum dolor sit amet, nec ad nisl mandamus imperdiet, ut corpora cotidieque cum. Et brute iracundia his, est eu idque dictas gubergren
          </p>
        </div>

        <div class="col-lg-3 col-sm-12 text-lg-right text-center">
          <a class="btn btn-ghost" href="#">Buy This Theme</a>
        </div>
      </div>
    </div>
  </section>
  -->
  <!-- /Call to Action -->
  <!-- Portfolio -->

  <section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h2>
          Eventos
        </h2>

      <p>
        Nuestros eventos más esperados del año se detallan en la siguiente lista. <b>ChallengeX_EVENTS</b>
      </p>
    </div>

    <div class="portfolio-grid">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-1.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-2.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-3.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-4.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-5.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-6.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-7.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-8.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Portfolio -->
  <!-- Team -->

  <section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
          Países
        </h2>

      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="img/team-1.png">
              <div class="card-title-wrap">
                <span class="card-title">COLOMBIA</span> <span class="card-text">En Crecimiento</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Búscanos en:
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> 
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                  <a href="#"><i class="fa fa-linkedin"></i></a> 
                  <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>

            <h5 id="leadSede">
              Hacer de un mejor COLOMBIA está en tus manos. Desafíate!
            </h5>
          </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="img/team-2.png">
              <div class="card-title-wrap">
                <span class="card-title">BRASIL</span> <span class="card-text">En crecimiento</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Búscanos en:
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> 
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                  <a href="#"><i class="fa fa-linkedin"></i></a> 
                  <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>

          <h5 id="leadSede">
            Hacer de un mejor BRASIL está en tus manos. Desafíate!
          </h5>
        </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src="img/team-3.png">
              <div class="card-title-wrap">
                <span class="card-title">CHILE</span> <span class="card-text">En Crecimiento</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Búscanos en:
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> 
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                  <a href="#"><i class="fa fa-linkedin"></i></a> 
                  <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

        <h5 id="leadSede">
          Hacer de un mejor CHILE está en tus manos. Desafíate!
        </h5>
      </div>
      </a>
    </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src="img/team-4.png">
              <div class="card-title-wrap">
                <span class="card-title">ARGENTINA</span> <span class="card-text">En Crecimiento</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Búscanos en:
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>

        <h5 id="leadSede">
          Hacer de un mejor ARGENTINA está en tus manos. Desafíate!
        </h5>
      </div>
      </a>
    </div>
    </div>
    </div>
    </div>
  </section>
  <!-- /Team -->
  <!-- @component: footer -->

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Contáctanos</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Sede Central<br>Lima, PERÚ</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>jomendozag@uni.pe</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+51 997 153 705</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="/contacts/add" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" value="{{name}}" placeholder="Su nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" value="{{email}}" placeholder="Su email" data-rule="email" data-msg="Please enter a valid email" autocomplete="off"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="phone" id="email" value="{{phone}}" placeholder="Su teléfono celular" data-rule="email" data-msg="Please enter a valid email" autocomplete="off"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" value="{{subject}}" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" autocomplete="off" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

