<div id="principal" class="jumbotron jumbotron-fluid mt-4">
 <div class="container-fluid">
    <h1 class="display-4">Desafío nacionales e internacionales</h1>
    <p class="lead">Unámos esfuerzo para conectar con crear un mejor futuro.</p>
  </div>
</div>




<style>
  body {
  background: #0b0e0f; 
}

#principal{
  background-color: #3098bb;
  color: aliceblue;
}
  
</style>