<div class="jumbotron mt-4">
  <h4 class="display-4">Notes App Nodejs And Mongodb!</h4>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="http://ianalytics-data.com" target="_blank" role="button">John Mendoza</a>
</div>

<style>
  .jumbotron .btn{
     background-color: #01b7ee;
            color: #0c0b0b;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border-radius: 3px;
}
</style>