
body {
  background: #040505;
}



#linkPage{
  color: #01b7ee;
}


.card {
  text-align: center;
  background: #ffffff;
  color: #040505;
  border-radius: 5px;
  border: solid 1px #01b7ee;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}
