<!-- Footer -->
	<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright Right: IAnalytics Corporation
      <span>- John Mendoza - Universidad Nacional de Ingeniería</span>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
	<!-- ./Footer -->