<!-- Page Content ================================================== -->
<!-- Hero -->

<!--
  <section class="hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <a class="hero-brand" href="#" title="Home"><img alt="challengex" src="/img/logo.png"></a>
      </div>
    </div>
    <div class="col-md-12">
      <h1 id="principalText">
        DESAFÍOS NACIONALES Y GLOBALES
      </h1>
      
          <p class="tagline">
          This is a powerful theme with some great features that you can use in your future projects.
        </p>
        
      <a class="btn btn-full" href="#about">Empezemos</a>
    </div>
  </div>
</section>
-->
<!-- /Hero -->

<!-- Header -->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="/"><img src="/img/logoWeb.png" alt="" title="" /></img></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Bell</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
       
        <li id="buttonNav"><a href="#about">ChallengeX</a></li>
        <li id="buttonNav"><a href="#features">Pilares</a></li>
        <li id="buttonNav"><a href="#team">Equipo</a></li>
        <li id="buttonNav"><a href="/">Login</a></li>
      </ul>
    </nav>

    <!-- #nav-menu-container -->
    <nav class="nav social-nav pull-right d-none d-lg-inline">
      <a href="https://twitter.com/JOHNMENDOZAG" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/JohnMendozaG" target="_blank"><i class="fa fa-facebook"></i></a>
    </nav>
  </div>
</header>
<!-- #header -->