<div class="row" id="about">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header" id="tituloCard">
        <h1 id="label" class="h4">
          Ingresar a cuenta
        </h1>
      </div>
        <img class="mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" autofocus autocomplete="off" id="campo" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toLowerCase()">
          </div>
          <div class="form-group">
            <input type="password" id="pwd" class="form-control" name="password" placeholder="Password">
          </div>
          <button id="bottonForm" class="btn btn-primary btn-block">
            Ingresar 
          </button>
          <span>Si aún no tienes cuenta <a href="/users/signup" class="btn"> REGISTRATE</a></span>
        </form>
      </div>
    </div>
    
  </div>
</div>
{{> messages }}
<style>
   #tituloCard {
            border: 1px solid #25bafc;
            background: #25bafc;
            color: #040505;
            font-size: 23px;
            margin-bottom: 0%;
        }

      .logo {
        width: 30%;
      }

        #bottonForm {
            background-color: #25bafc;
            color: #ffffff;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border-radius: 3px;
        }

         #email {
            padding: 15px;
            border: solid 1px #25bafc;
            border-radius: 3px;
        }

        #pwd {
            padding: 15px;
            border: solid 1px #25bafc;
            margin-bottom: 20px;
            border-radius: 3px;
        }
        #label{
          color: #ffffff;
        }
</style>