<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header" id="tituloCard">
        <h1 class="h4">
          Ingresar cuenta
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.jpg" alt="Logo">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" autofocus autocomplete="off" id="campo" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toLowerCase()">
          </div>
          <div class="form-group">
            <input type="password" id="pwd" class="form-control" name="password" placeholder="Password">
          </div>
          <button id="bottonForm" class="btn btn-primary btn-block">
            Ingresar 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
   #tituloCard {
            border: 1px solid #01b7ee;
            background: #01b7ee;
            color: #040505;
            font-size: 23px;
            margin-bottom: 0%;
        }

      .logo {
        width: 30%;
      }

        #bottonForm {
            background-color: #01b7ee;
            color: #ffffff;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border-radius: 3px;
        }

         #email {
            padding: 22px;
            border: solid 1px #01b7ee;
            border-radius: 3px;
        }

        #pwd {
            padding: 22px;
            border: solid 1px #01b7ee;
            margin-bottom: 20px;
            border-radius: 3px;
        }
</style>