<!-- Start About -->
                            <div class="container text-center mt-3" id="about">
                             <div class="row">
                                 <div class="col-md-4"></div>
                             
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div  id="tituloCard" class="card-header">
                                                <label>Agregar Admin Morado</label>
                                            </div>
                                            <div id="description_card">
                                                <small>No compartiremos nada sin su permiso.</small>
                                            </div>
                                            <div id="socialForm">
                                                <a id="buttonForm" class="btn" href="#">Google
                                                    <i class="fa fa-google"></i>
                                                </a>
                                                <a id="buttonForm" class="btn" href="#">Facebook
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a id="buttonForm" class="btn" href="#">Github
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </div>
                                            <div id="tituloCard1">
                                                <label>Cree manualmente una cuenta.</label>
                                                <label>*Requerido</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-10">
                                                    <form action="/users/signup" method="POST">
                                                        <div class="form-group">
                                                            <input type="text" id="email" class="form-control" name="name" placeholder="Name*" value="{{name}}" autocomplete="off" autofocus>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email"  id="email"  class="form-control" name="email" placeholder="Email*" value="{{email}}" autocomplete="off" id="campo" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toLowerCase()">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" id="pwd" class="form-control" name="password" placeholder="Password*" value="{{password}}">
                                                        </div>
                                                         <div class="form-group">
                                                            <input type="password" id="pwd" class="form-control" name="confirm_password" placeholder="Confirm Password*" value="{{confirm_password}}">
                                                        </div>
                                                        <button id="bottonForm" class="btn btn-block">Registrar</i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-md-1">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                    </div>
                                </div>
                                <div>
                                    {{> errors }}
                                    {{> messages }}
                                </div>

      
        <!-- End About -->

          <style>

        #buttonForm {
            border: solid 1px #25bafc;
            color: #25bafc;
            margin: 5px;
            padding: 10px;
            border-radius: 3px;
        }

        #buttonForm:hover {
            border: solid 1px #25bafc;
            color: #fdfeff;
            background-color: #25bafc;
        }

        #tituloCard {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background: #25bafc;
            color: #040505;
            font-size: 23px;
            margin-bottom: 0%;
            border: 1px solid #25bafc;
        }

        #tituloCard1 {
            margin-bottom: 0px;
        }

        #description_card {
            margin-bottom: 5px;
        }

        #email {
            padding: 10px;
            border: solid 1px #25bafc;
            border-radius: 3px;
        }

        #pwd {
            padding: 10px;
            border: solid 1px #25bafc;
            margin-bottom: 20px;
            border-radius: 3px;
        }

        #bottonForm {
            background-color: #25bafc;
            color: #ffffff;
            padding: 15px;
            margin-bottom: 40px;
            font-size: 16px;
            border-radius: 3px;
        }

        label {
            font-family: 'Open Sans', sans-serif;
            color: #ffffff;
        }
    </style>