<!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

  
 <!-- Start About -->
           
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 mx-auto">
                                        <div class="card">
                                                <img src="/img/industry4.png" alt="Industria 4.0" width="100%" height="auto">
                                        </div>
                                        <hr>
                                        <div class="card">
                                                <h3>IAnalytics Corporation</h3>
                                                
                                                <p>
                                                    Plataforma para conectar a las empresas, gobierno, universidad y la población.
                                                    Es una fuente de retos y desafíos nacionales e internacionales que se promueven  
                                                    para resolver aplicando la <b>INDUSTRIA 4.0</b> 
                                                    <br>
                                                    -John Mendoza | Founder
                                                </p>
                                                
                                                
                                
                                        </div>

                                    </div>
                                
                                    <div class="col-md-5">
                                        <div class="card">
                                            <div  id="tituloCard" class="card-header">
                                                <label>Crea tu cuenta</label>
                                            </div>
                                            <div id="description_card">
                                                <small>No compartiremos nada sin su permiso.</small>
                                            </div>
                                            <div id="socialForm">
                                                <a id="buttonForm" class="btn" href="#">Google
                                                    <i class="fa fa-google"></i>
                                                </a>
                                                <a id="buttonForm" class="btn" href="#">Facebook
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a id="buttonForm" class="btn" href="#">Github
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </div>
                                            <div id="tituloCard1">
                                                <label>Cree manualmente una cuenta.</label>
                                                <label>*Requerido</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-10">
                                                    <form action="/users/signup" method="POST">
                                                        <div class="form-group">
                                                            <input type="text" id="email" class="form-control" name="name" placeholder="Name*" value="{{name}}" autocomplete="off" autofocus>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email" id="email" class="form-control" name="email" placeholder="Email*" value="{{email}}" autocomplete="off">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" id="pwd" class="form-control" name="password" placeholder="Password*" value="{{password}}">
                                                        </div>
                                                         <div class="form-group">
                                                            <input type="password" id="pwd" class="form-control" name="confirm_password" placeholder="Confirm Password*" value="{{confirm_password}}">
                                                        </div>
                                                        <button id="bottonForm" class="btn btn-block">Regístrese Gratis</i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-md-1">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

      
        <!-- End About -->

          <style>

        #login {
            background-color: #01b7ee;
            color: #040505;
            border-radius: 3px;
            padding: 0.5rem;
            font-size: 15px;
        }

        #login:hover {
            background-color: #0ced67;
        }

        .card {
            text-align: center;
            background: #ffffff;
            color: #040505;
            border-radius: 5px;
            border: solid 1px #01b7ee;
            font-family: 'Open Sans', sans-serif;
            margin-top: 20px;
        }


        #buttonForm {
            border: solid 1px #01b7ee;
            color: #01b7ee;
            margin: 5px;
            padding: 10px;
            border-radius: 3px;
        }

        #buttonForm:hover {
            border: solid 1px #01b7ee;
            color: #fdfeff;
            background-color: #01b7ee;
        }

        #tituloCard {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background: #01b7ee;
            color: #040505;
            font-size: 23px;
            margin-bottom: 0%;
        }

        #tituloCard1 {
            margin-bottom: 0px;
        }

        #description_card {
            margin-bottom: 20px;
        }

        #socialForm {
            margin-bottom: 20px;
        }

        #email {
            padding: 22px;
            border: solid 1px #01b7ee;
            border-radius: 3px;
        }

        #pwd {
            padding: 22px;
            border: solid 1px #01b7ee;
            margin-bottom: 20px;
            border-radius: 3px;
        }

        #bottonForm {
            background-color: #01b7ee;
            color: #ffffff;
            padding: 15px;
            margin-bottom: 40px;
            font-size: 16px;
            border-radius: 3px;
        }

        label {
            font-family: 'Open Sans', sans-serif;
        }
    </style>